<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <!-- <script src="app/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="content/css/style.css">
    <script src="content/js/app.js"></script>
    <script src="content/js/controllers.js"></script>
    <script src="content/js/directives.js"></script>

</head>

<body ng-app="myApp">

    <div ng-controller="DynamicFormController as ctrl">

        <form name="myForm" class="form">
            <div ng-repeat="field in ctrl.formDefinition" class="form-field">
                <h3 ng-if="field.heading" class="heading">{{field.heading}}</h3>
                <h3 class="field-label">{{ field.label }}</h3>

                <div ng-switch="field.type">
                    <select name="{{field.name}}" id="" ng-switch-when="select" ng-model="ctrl.formData[field.name]"
                        ng-required="field.required">
                        <option value="" selected>Please Select</option>
                        <option value="{{option.value}}" ng-repeat="option in field.options">{{option.title}}</option>
                    </select>

                    <input type="{{ field.type }}" placeholder="{{field.placeholder}}" ng-switch-default
                        ng-model="ctrl.formData[field.name]" name="{{field.name}}" ng-required="field.required">

                    <div ng-switch-when="radiocheck">
                        <div class="oneselector" ng-if="field.oneSelector">
                            <input type="{{field.oneSelector.type}}" id="{{field.oneSelector.id}}"
                                placeholder="{{field.oneSelector.placeholder}}" ng-value="{{field.oneSelector.value}}"
                                ng-model="ctrl.oneSelectors[field.oneSelector.id]"
                                ng-change="ctrl.oneSelectorChanged(field.oneSelector.id, ctrl.oneSelectors[field.oneSelector.id], field)">
                            <label for="{{field.oneSelector.id}}">{{field.oneSelector.label}}</label>
                            <hr><br>
                        </div>

                        <div class="checkbox-group">
                            <div ng-repeat="option in field.options">
                                <div class="option" ng-if="field.subtype == 'radio'">
                                    <input type="radio" checked ng-model="ctrl.selectedRadios[field.name]"
                                        id="{{option.id}}"
                                        ng-change="ctrl.radioChanged(field.name, option, ctrl.selectedRadios[field.name]); option.group ? ctrl.groupCaller(option.group_member, option.group_values):'' "
                                        ng-value="option.value" name="{{field.label}}">
                                    <label for="{{option.id}}">{{option.title}}</label>
                                </div>

                                <div class="option"
                                    ng-if="(!option.showwhen || showSibs[option.id]== option.id) && field.subtype == 'checkbox'">
                                    <input type="checkbox" ng-checked="option.checked"
                                        ng-disabled="ctrl.oneSelectors[field.oneSelector.id]" id="{{option.id}}"
                                        ng-model="ctrl.checkBoxes[option.id]"
                                        ng-change="ctrl.handleCheckboxChange(ctrl.checkBoxes[option.id], field.dbType, field.name, option); option.subfield ? ctrl.showSubField(option):''">
                                    <label for="{{option.id}}">{{option.title}}</label>
                                </div>

                                <div
                                    ng-if="field.subtype == 'radio'? ctrl.selectedRadios[field.name] == option.value && option.subfield : ctrl.checkBoxSubs[option.id] === option.id && option.subfield">
                                    <div ng-if="option.subfield.type != 'select'" class="subfield">
                                        <input class="subfield" type="{{option.subfield.type}}"
                                            name="{{option.subfield.name}}" ng-required="option.subfield.required"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-chang="field.subtype == 'radio' ? ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name]) : ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])"
                                            placeholder="{{option.subfield.placeholder}}">
                                    </div>
                                    <div ng-if="option.subfield.type == 'select'" class="subfield">
                                        <select name="" id="" class="subfield"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-change="ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])">
                                            <option value="">Select</option>
                                            <option ng-repeat="opt in option.subfield.options" ng-value="opt.value">
                                                {{opt.title}}
                                            </option>
                                        </select>
                                    </div>

                                    <!--================== VALIDATIONS ====================-->

                                    <div class="error"
                                        ng-if="option.subfield.type == 'number' || option.subfield.type == 'text' || option.subfield.type == 'date' || option.subfield.type == 'select'">
                                        <p class="error-div"
                                            ng-if="option.subfield.required && myForm[option.subfield.name].$error.required && ctrl.errorFlag">
                                            Please enter some value
                                        </p>
                                        <!-- && myForm[field.name].$touched -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                    <!-- 
                    <div ng-switch-when="radio">
                        <div class="checkbox-group">
                            <div ng-repeat="option in field.options">
                                <div class="option">
                                    <input type="radio" ng-model="ctrl.selectedRadios[field.name]" id="{{option.id}}"
                                        ng-change="ctrl.radioChanged(field.name, option, ctrl.selectedRadios[field.name]); option.group ? ctrl.groupCaller(option.group_member, option.group_values):'' "
                                        ng-value="option.value" name="{{field.label}}">
                                    <label for="{{option.id}}">{{option.title}}</label>
                                </div>
                                <div ng-if="ctrl.selectedRadios[field.name] === option.value && option.subfield">
                                    <div ng-if="option.subfield.type != 'select'" class="subfield">
                                        <input class="subfield" type="{{option.subfield.type}}"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-change="ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])"
                                            placeholder="{{option.subfield.placeholder}}">
                                    </div>
                                    <div ng-if="option.subfield.type == 'select'" class="subfield">
                                        <select name="" id="" class="subfield"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-change="ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])">
                                            <option value="">Select</option>
                                            <option ng-repeat="opt in option.subfield.options" ng-value="opt.value">
                                                {{opt.title}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="checkbox">
                        <div class="oneselector" ng-if="field.oneSelector">
                            <input type="{{field.oneSelector.type}}" id="{{field.oneSelector.id}}"
                                placeholder="{{field.oneSelector.placeholder}}" ng-value="{{field.oneSelector.value}}"
                                ng-model="ctrl.oneSelectors[field.oneSelector.id]"
                                ng-change="ctrl.oneSelectorChanged(field.oneSelector.id, ctrl.oneSelectors[field.oneSelector.id], field)">
                            <label for="{{field.oneSelector.id}}">{{field.oneSelector.label}}</label>
                            <hr><br>
                        </div>

                        <div class="checkbox-group">
                            <div ng-repeat="option in field.options">
                                <div class="option" ng-if="!option.showwhen || showSibs[option.id]== option.id">
                                    <input type="checkbox" ng-disabled="ctrl.oneSelectors[field.oneSelector.id]"
                                        id="{{option.id}}" ng-model="checkBoxes[option.id]"
                                        ng-change="ctrl.handleCheckboxChange(ctrl.checkBoxes[option.id], field.dbType, field.name, option); option.subfield ? ctrl.showSubField(option):''">
                                    <label for="{{option.id}}">{{option.title}}</label>
                                </div>
                                <div ng-if="ctrl.checkBoxSubs[option.id] === option.id && option.subfield">
                                    <div ng-if="option.subfield.type != 'select'" class="subfield">
                                        <input type="{{option.subfield.type}}" class="subfield"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-change="ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])"
                                            placeholder="{{option.subfield.placeholder}}">
                                    </div>
                                    <div ng-if="option.subfield.type == 'select'" class="subfield">
                                        <select name="" id="" class="subfield"
                                            ng-model="ctrl.subFields[option.subfield.name]"
                                            ng-change="ctrl.subFieldChanged(option.subfield.name, ctrl.subFields[option.subfield.name])">
                                            <option value="">Select</option>
                                            <option ng-repeat="opt in option.subfield.options" ng-value="opt.value">
                                                {{opt.title}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->



                    <!--================== LISTING ====================-->
                    <div ng-switch-when="listing" class="listing">
                        <div class="list-item" ng-repeat="option in field.options">
                            <label for="{{option.id}}">{{option.title}} ({{option.points}} {{option.points <= 1
                                    ? 'point' :'points'}})</label>
                                    <div class="check-box"><input type="checkbox" ng-model="ctrl.listChecks[option.id]"
                                            ng-change="ctrl.listCheckChanged(ctrl.listChecks[option.id], option, field)"
                                            id="{{option.id}}">
                                    </div>
                        </div>
                        <div class="total-score">
                            <p>Total Score</p>
                            <div class="total-score">{{ctrl.formData[field.name][field.total]}}</div>
                        </div>
                        <div class="listing-details">
                            <div ng-bind-html="ctrl.sanitizeHtml(field.details)"></div>
                        </div>
                    </div>

                    <!--================== NESTED RADIOS ====================-->



                </div>

                <!--================== ERROR ====================-->
                <div class="error">

                    <div ng-if="field.subtype == 'checkbox' && (field.dbType == 'array' || field.dbType == 'object')">
                        <p class="error-div"
                            ng-if="field.required && (ctrl.formData[field.name] | isEmptyOrAllFalse) && ctrl.errorFlag">
                            {{field.errorMsg}}
                        </p>
                    </div>

                    <div ng-if="field.subtype == 'radio' && field.required">
                        <p class="error-div" ng-if="!ctrl.selectedRadios[field.name] && ctrl.errorFlag">
                            {{field.errorMsg}}
                        </p>
                    </div>

                    <div
                        ng-if="field.type == 'number' || field.type == 'text' || field.type == 'date' || field.type == 'select'">
                        <p class="error-div"
                            ng-if="field.required && myForm[field.name].$error.required  && ctrl.errorFlag">
                            {{field.errorMsg}}
                        </p>
                        <!-- && myForm[field.name].$touched -->
                    </div>

                </div>

                <div class="line"></div>
            </div>
            <button ng-click="ctrl.submitForm()">Submit</button>
        </form>
    </div>



</body>

</html>