:root{
  --main: rgba(0, 0, 0, 0.603);
}

html{
  scroll-behavior: smooth;
}

body{
  /* scroll-behavior: smooth; */
}

.form{
  width: min(1280px, 100%);
  margin: auto;
  padding-block: 5em;
}

.form .form-field{
  margin-block: 1em;
  display: grid;
  gap: 0.25em;
}

.form .form-field label{
  font-size: 14px;
  line-height: 1;
}

.form .form-field input[type="text"], input[type="number"], select{
  padding: 0.5em;
}

.field-label{
  font-size: 16px;
  margin-bottom: 0.5em;
}



.checkbox-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
  row-gap: 1em;
}

.checkbox-group .option{
  display: flex;
  /* align-items: center; */
  gap: 0.25em;
  /* height: 16px; */
}


.error{
  font-size: 12px;
  color: #db2727;
}

.list-item, .total-score{
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

input[type="text"], 
input[type="number"]
{
  border: none;
  padding: 0;
  outline: none;
  width: 100%;
}

input{
  font-size: 14px;
}

input[type="date"]{
  padding: 0.5em;
  width: min(95%, 300px);
  margin-top: 0.5em;
}

input[type="text"].subfield, 
input[type="number"].subfield,
select.subfield
{
  border-bottom: thin solid rgba(128, 128, 128, 0.616);
  width: min(100%, 300px);
  margin-top: 0.25em;
}

.line{
  width: 100%;
  height: 1px;
  border-bottom: thin solid var(--main);
  margin-block: 0.5em 1em;
}


input[type="checkbox"],
input[type="radio"]{
  margin: 0;
  width: 15px;
  height: 15px;
  accent-color: seagreen;
  line-height: 1;
}

.heading{
  text-align: center;
  border-block: thin solid grey;
  padding-block: 0.25em;
  font-size: 24px;
}

.listing-details{
  padding: 2em;
    background: grey;
}